################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/.vs/THPCore
/.vs/ProjectEvaluation
/Properties/PublishProfiles
/THPCore.csproj.user
